@import "tailwindcss";
@import "xp.css/dist/XP.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Tahoma, "MS Sans Serif", sans-serif;
}

body {
  overflow: hidden;
  background: #008080;
}
